# OS
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Variables de entorno
.env
.env.local

# Carpetas de dependencias (por si en el futuro añades build tools)
node_modules/
dist/
build/

# Archivos temporales
*.tmp
*.bak
~*